<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить покупателя</title>
</head>
<body>
<h1>Добавление покупателя</h1>
<form th:action="@{/users/add}" th:object="${user}" method="post">
    <input type="text" pattern=".{1,500}" name="name" placeholder="Введите Ф.И.О." required/>
    <input type="text" pattern="\d{1,5}" name="age" placeholder="Введите возраст" required>
    <input type="text" pattern="\d{4}" name="seria" placeholder="Введите серию паспорта" required>
    <input type="text" pattern="\d{6}" name="number" placeholder="Введите номер паспорта" required>
    <input type="submit" value="Добавить покупателя">
    <input type="reset" value="Очистить форму">
</form>
<a th:href="@{/mainPage}">На главную</a>
<a th:href="@{/users/showAll}">Показать всех покупателей</a>
</body>
</html>