<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Удалить покупателей</title>
</head>
<body>
<h1>Удаление всех покупателей с указанными ФИО</h1>
<form th:action="@{/users/delete}" method="post">
    <input type="text" pattern=".{1,500}" name="name" placeholder="Введите ФИО" required>
    <input type="submit" value="Удалить покупателей">
</form>
<a th:href="@{/mainPage}">На главную</a>
<a th:href="@{/users/showAll}">Показать всех покупателей</a>
</body>
</html>